@mixin BaseDivsIcon($row, $col) {

  grid-row: $row;
  grid-column: $col;

  border-radius: 20px;
  img {
    transition: 0.2s ease all;
    margin-left: 20px;

    &:hover {
      margin-bottom: 20px;
    }


  }
}

#my-stack {
  width: 100%;
  height: max-content;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 943px 1fr;
  grid-template-rows: 200px 200px 200px 200px;

  * {
    z-index: 2;
  }

  h1 {
    margin: 0;
    font-size: 100px;
  }

  .h1about {
    color: var(--green-text)


  }

  #mystackh1 h1 {

    color: var(--text-color);
    background-color: var(--shadow-graphite);

  }

  #mystackh1 {
    border-radius: 10px;
    //-webkit-box-shadow: 0 0 47px 0 rgba(49, 179, 139, 0.08);
    //-moz-box-shadow: 0 0 47px 0 rgba(49, 179, 139, 0.08);
    //box-shadow: 0 0 47px 0 rgba(49, 179, 139, 0.08);
    border: 2px solid var(--green-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--shadow-graphite);

    height: 100%;
  }


}

.base-icons {
  opacity: 90%;
}

.next-ts-js {
  @include BaseDivsIcon(2, 1)
}

.redux-dj-python {
  @include BaseDivsIcon(3, 1)
}

.sass-tail-css {
  @include BaseDivsIcon(4, 1)
}

.about-tech {
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--green-text);
  border-radius: 10px;
  background-color: var(--shadow-graphite);
  grid-row: 2/5;
  grid-column: 2;
  color: var(--text-color);


  p {

  }

}

.name-span {
  color: var(--green-text)
}

.os-span {
  color: #7C94CD
}

.tilda-span {
  color: #efc582
}

.cat {
  color: #7C94CD;
}

.file {
  color: #D3B989
}