@import "@/public/adaptive-sheet";

#my-projects {
  z-index: 4;
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-rows: 100px repeat(2, 500px);
  grid-template-columns: repeat(2, 1fr) 200px;


}

.h1-myproject {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  font-size: 60px;
  width: 100%;
  border-bottom: 2px solid var(--green-text);
  border-right: 2px solid var(--green-text);
  height: 100%;
  background-color: var(--shadow-graphite);
  align-self: center;
  justify-self: center;
  color: var(--green-text);
}

.grid-curve {
  grid-row: 1/3;
  grid-column: 1/3;
}

//.light {
//  padding: 0;
//  margin: 0;
//  width: max-content;
//  height: 1px;
//  color: transparent;
//  z-index: 3;
//  grid-row: 1;
//  vertical-align: top;
//  grid-column: 1;
//  scale: 100;
//  text-shadow: 0px 6px 0px var(--green-text);
//}

.describe {
  justify-self: center;
  background-color: var(--shadow-graphite);
  width: 500px;
  padding: 30px;
  border-radius: $border-radius;
  border: 2px solid var(--green-text);

  color: var(--text-color);
}