@import "@/public/adaptive-sheet";

.rectangle {

  width: 0;
  height: 85vh;
  border-top: 100vh solid transparent;
  border-left: 100vh solid var(--shadow-graphite);
  border-right: 100vh solid var(--shadow-graphite);


}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 12rem  1fr 700px 20px;
  grid-template-rows: 300px 216px;
  grid-template-areas: "rectangle text end ";


  h1 {
    height: max-content;

    padding: 20px;
    //border: 0px solid var(--green-text);
    min-width: min-content;
    max-width: 550px;
    margin: 0;
    border-radius: $border-radius;
    background-color: var(--shadow-graphite);
    z-index: 2;

    grid-row: 2;
    grid-column: 2;
    font-size: 70px;
    color: var(--text-color);
    @media (max-width: 384px) {
      font-size: 40px;
    }

    span {
      color: var(--green-text)
    }


  }


  .onerc {
    grid-row: 1;
    grid-column: 1;
  }


}

#aboutMe {
  border: 2px solid var(--green-text);
  border-radius: $border-radius;
  color: var(--text-color);
  background-color: var(--shadow-graphite);
  z-index: 2;
  grid-row: 2;
  grid-column: 3;
  justify-items: center;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: center;
  display: flex;
  transition: 0.9s ease rotate;

  @media (max-width: 384px) {
    grid-row: 3;
    align-self: start;
    margin-right: 20px;
    width: 80%;
    justify-self: center;
    grid-column: 1/3;
  }

  &:hover {
    rotate: 2deg;
  }
}

.noise-grid {
  grid-column: 1/3;
  grid-row: 1/4;
}

#avatar {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: max-content;
  margin-top: 20px;
  grid-row: 1;
  grid-column: 3;

  img {
    border-radius: $border-radius;
    border: 3px var(--green-text) solid;
    @media (max-width: 384px) {

      display: none;
    }
  }

  @media (max-width: 384px) {

    grid-row: 1;
    margin-top: 17%;
    align-self: start;
    margin-right: 20px;
    justify-self: center;
    grid-column: 1/3;
  }


  #clip-git {

    display: flex;
    align-items: center;
    height: 100%;

    padding: 10px;
    margin-top: 10px;
    border: 1px solid #222222;
    border-radius: $border-radius;
    background: var(--shadow-graphite);
    justify-content: space-between;

    .arrow {
      padding: 5px;
      border: 1px solid var(--green-text);

      border-radius: $border-radius;
      background: #101015;
      color: var(--text-color);
    }

    a {
      display: flex;
      margin-top: 5px;
      align-items: center;
      text-decoration: none;
      color: var(--text-color);

      * {
        margin-left: 10px;
        color: var(--green-text);
      }

    }

    @media (max-width: 384px) {
      grid-column: 1/3;
    }
  }


}

#ddl {
  z-index: 2;
  top: 1000px;
  position: absolute;
}

.dz {
  z-index: 2;
  grid-row: 1;
}

.favorite {

  background-color: #101015;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #FB5843;
  padding: 2px;
  border-radius: $border-radius;

  p {
    width: max-content;
    margin: 0;
  }

}

