:root {
  --shadow-graphite: #0B0A0E;
  --background: color-mix(in srgb, var(--shadow-graphite), black);
  --text-color: #E6EBE0;
  --green-text: #31B38B;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: clip;
  height: max-content;
  margin: 0;
  background-color: var(--background);
}

main {
  grid-template-columns: 12rem  1fr 1fr;
  grid-template-rows: 12rem 6rem 1fr 1fr;
  grid-template-areas: "rectangle text end ";
}